@import "../../global.scss";

.about {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;

    @include mobile {
      flex: 1;
    }

    .aboutTitleContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      @include mobile {
        padding: 3px 0 0 0;
      }

      .aboutTitle {
        font-size: 50px;
        color: $mainColor;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .aboutInfoContainer {
      padding: 5px;

      @include mobile {
        padding: 0 5px;
      }

      .educationContainer {
        .educationTitleContainer {
          .title {
            font-size: 40px;
            color: $mainColor;

            @include mobile {
              font-size: 20px;
            }
          }
        }
        .educationInfoContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;

          @include mobile {
            flex-direction: column;
          }

          .educationInfoBox {
            width: 425px;
            height: 250px;
            background-color: rgb(233, 233, 233);
            margin: 5px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px black;
            border: 1.5px solid lightgrey;
            transition: 0.5s ease all;
            color: $mainColor;

            @include mobile {
              width: 300px;
              height: 135px;
            }

            &:hover {
              width: 430px;
              height: 255px;

              @include mobile {
                width: 300px;
                height: 135px;
              }
            }

            .educationInfo {
              padding: 5px;

              .educationInfoHeader {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 7px;

                @include mobile {
                  padding-bottom: 3px;
                }

                .educationIconContainer {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding-right: 5px;

                  .icon {
                    font-size: 50px;

                    @include mobile {
                      font-size: 25px;
                    }
                  }
                }

                .educationTextContainer {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;

                  .text {
                    font-size: 30px;
                    font-weight: 500;

                    @include mobile {
                      font-size: 20px;
                    }

                    &:hover {
                      font-weight: 800;
                    }
                  }

                  .text3 {
                    font-size: 28px;
                    font-weight: 500;

                    @include mobile {
                      font-size: 18px;
                    }

                    &:hover {
                      font-weight: 800;
                    }
                  }
                }
              }

              .educationInfoDegree {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 7px 5px;

                .educationIconContainer2 {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .icon2 {
                    font-size: 40px;

                    @include mobile {
                      font-size: 20px;
                    }
                  }
                }

                .educationTextContainer2 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding-left: 3px;

                  a {
                    text-decoration: none;
                    color: black;
                  }

                  .text2 {
                    font-size: 20px;
                    font-weight: 500;

                    @include mobile {
                      font-size: 15px;
                    }

                    &:hover {
                      font-weight: 800;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .right {
    flex: 1;
    background-color: $mainColor;
    justify-content: center;
    align-items: center;

    .skillsTitleContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      @include mobile {
        padding: 2px;
      }

      .skillsTitle {
        font-size: 50px;
        color: white;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    .skillsIconsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      height: 80%;
      width: 95%;

      @include mobile {
        padding-top: 5px;
      }

      .skillsIconContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        padding: 7px;
        margin: 12px;
        background-color: $secondaryColor;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        border: 1.5px solid #1d1d1d;
        transition: 0.5s ease all;

        @include mobile {
          width: 45px;
          height: 45px;
          padding: 5px;
        }

        &:hover {
          width: 145px;
          height: 145px;

          @include mobile {
            width: 47px;
            height: 47px;
          }

          .yellow {
            color: #f0db4f;
          }

          .orangered {
            color: #f06529;
          }

          .lightblue {
            color: rgba(0, 98, 255, 0.945);
          }

          .aqua {
            color: #61dbfb;
          }

          .lightgreen {
            color: #68a063;
          }

          .awsorange {
            color: #ff9900;
          }

          .darkbluegrey {
            color: rgb(62, 60, 80);
          }

          .javaorange {
            color: #f89820;
          }

          .springgreen {
            color: rgb(99, 205, 50);
          }

          .pythonyellow {
            color: #ffd43b;
          }

          .restbrown {
            color: rgb(133, 70, 33);
          }

          .postgresblue {
            color: rgb(48, 48, 153);
          }

          .mongodbgreen {
            color: #4db33d;
          }

          .dockerblue {
            color: #0db7ed;
          }
        }

        .skillsIcon {
          color: white;
          width: 95%;
          height: 95%;
        }

        .skillsText {
          color: white;
          overflow: hidden;
          padding: 2px;
          font-size: 10px;
        }
      }
    }
  }
}
